body {
    background-image: linear-gradient(#fdfbfb, #ebedee);
    font-family: 'Work sans', sans-serif;
    margin:0;
}

#buttons {
    width: 25%;
    margin-left: 10%;
    margin-top: 5%;
}



button {
    background-image: linear-gradient(#e2d1c3, #ebedee);
    display: block;
    border-style:none;
    width: 70%;
    height:8%;
    margin-top: 3.5%;
    border-radius: 25px;
  padding: 2%;
    color: darkgrey;
    -webkit-box-shadow: 4px 4px 3px -6px rgba(97,97,97,1);
-moz-box-shadow: 4px 4px 3px -6px rgba(97,97,97,1);
box-shadow: 4px 4px 3px -6px rgba(97,97,97,1);
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 0.7em;
    font-weight: lighter;
    cursor: pointer;
}

#set-mood {
    font-weight: lighter;
    letter-spacing: 2px;
    color: tan;
    z-index: 1;
    text-align: left;
    margin: 10%;
    margin-top: 5%;
  

}

#set-mood, #buttons {
    display: inline-block;
}

#set-mood, iframe {
    display: inline-block;
}

iframe {
    position: absolute;
    width : 35%;
    z-index: 4;
    margin-top: 10%;
    margin-left: 10%;
    opacity: 0.9;
    display: none;
    
    transition-property: display;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 1.7s;

}


footer {
    bottom: 2;
    position: absolute;
    font-size: 10px;
    margin: 9px;
    color: darkgrey;
}

a:link {color: darkgrey;}

a:hover { color: black; cursor: pointer;}

a:visited { color: tan;}




/* MOBILE */
@media screen and (max-width: 700px) {

body {
    margin: 0;
}
#set-mood, #buttons {
    display: block;
}

#set-mood, iframe {
    display: block;
}

iframe {
    position: absolute;
    width : 70%;
    height: 22%;
    z-index: 4;
    margin-top: 10%;
    margin-left: 10%;
    opacity: 0.9;
    display: none;
    

}

#set-mood {
    text-align: center;
}

button{
    width: 120%;
}

#buttons {
    width : 40%;
    margin-left: 30%;
}
    
  }