<html>
    <head>
        <title>S.Y.M.ple App | Set Your Mood</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
       
        <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
        
        <style>
        body {
    font-family: 'Work sans', sans-serif;
    margin:0;
    font-weight: lighter;
    background-size: cover;
    background-color: #f876de;
    background-image: linear-gradient(315deg, #f4791f 0%,#659999 74%);

}

h1 {
    font-size: 82px;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    top: 2.5;
    position: relative;
    letter-spacing: 14px;
    color:  whitesmoke;
    
}

iframe {
    margin: -8px;
}

.mood-container {
    width: 100%;
    margin: auto;
    display: auto;

}

/* Slides */
.mood {
    display: none;
    padding: 35px;
    text-align: center;
    -webkit-transition: display 2s ease;
    transition: display 2s ease;
  }
  
  /* Next & previous buttons */
  .left-arrow, .right-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -30px;
    padding: 2.5%;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    user-select: none;
  }

  .left-arrow {
      left: 10;
      font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
  }
  
  /* Position the "next button" to the right */
  .right-arrow {
    position: absolute;
    right: 10;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .left-arrow:hover, .right-arrow:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
    transition: background-color 0.8s ease;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding-bottom: 2.5%;
      padding-top: 2%;

      bottom: 0;
      width: 100%;
      position:absolute;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
  }

 dot:hover,  .active{
          background-color: lightslategray !important;
  }

  

  
  

  footer {
      font-size: 11px;
    text-align: left;
    left: 25;
    position: absolute;
  }
  
  a:link {
    color: lightgrey;

  }

  a:hover {
    cursor: pointer;
    color: peachpuff;
  }

  a:visited {
    color:whitesmoke;
  }
 






/* MOBILE */
@media screen and (max-width: 750px) {
    body {
        font-family: 'Work sans', sans-serif;
        margin:0;
        font-weight: lighter;
        background-size: cover;
        background-attachment: no-repeat;

        background-color: #659999 ;
 
    }

    .mood {
      margin:auto;
      display: block;
      width:100%;
    }

    iframe {
      margin: auto;
      display:block;
  }



    
  }

        </style>
    </head>
    <body>
           

        <div class="mood-container">

                    
                    <div class="mood">
                            <h1>FOCUS</h1>
                            <iframe alt="Focus" width="400" height="250" src="https://www.youtube.com/embed/videoseries?list=PLhiCctpaTlfshMq9ZShHZC9dCHVA77p6e" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                    </div>
                

                    <div class="mood">
                            <h1>FLUID</h1>
                            <iframe alt="Fluid" width="400" height="250" src="https://www.youtube.com/embed/videoseries?list=PLhiCctpaTlfvU7_CtGmJpB8cK-tGQ2Z8-" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                

                    <div class="mood">
                            <h1>BOSS</h1>
                            <iframe alt="Boss" width="400" height="250" src="https://www.youtube.com/embed/videoseries?list=PLhiCctpaTlfvuTrEMkYUnSZ2bQqdTwlzQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>


                    <div class="mood">
                            <h1>GROOVE</h1>
                            <iframe alt="Groove" width="400" height="250" src="https://www.youtube.com/embed/videoseries?list=PLhiCctpaTlfsKQbr_M8RMWBUHYZKKqI9I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                


                    <!-- arrows 
                    <a class="left-arrow">&#10094;</a>
                    <a class="right-arrow" >&#10095;</a>
                      -->

                  
          </div>
          



          
          <div class="dot-container">
                    <span id="1-dot" class="dot" onclick="playingNow(1)"></span> 
                    <span id="2-dot" class="dot" onclick="playingNow(2)"></span> 
                    <span id="3-dot" class="dot" onclick="playingNow(3)"></span> 
                    <span id="4-dot" class="dot" onclick="playingNow(4)"></span> 

                    <br>

                    <footer><a href="https://jiellr.com/"> jiellr</a></footer>
          </div>
        


 <script >
          //global variables
var moods = document.getElementsByClassName('mood'); 
var dots = document.getElementsByClassName("dot");
var playingIndex = 1;
var theRight = document.getElementsByClassName('right-arrow');
var theLeft = document.getElementsByClassName('left-arrow');


function rightArrow(n) {
  showMoods(playingIndex += n);
}

function playingNow(n) {
  showMoods(playingIndex = n);
}

function showMoods(n) {
  var i;
  
  if (n > moods.length) {playingIndex = 1}    
  if (n < 1) {playingIndex = moods.length}
  for (i = 0; i < moods.length; i++) {
      moods[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  moods[playingIndex-1].style.display = "block";  
  dots[playingIndex-1].className += " active";
}


showMoods(playingNow);
theLeft.onclick = rightArrow(-1);
theRight.onclick = rightArrow(1);
</script>
    </body>
</html>
